@page "/"
<link href="css/IntroPage.css" rel="stylesheet" />

<div class="intro-container">
    <h1 class="intro-heading">Welcome to Itahari International College</h1>

    <img src="images/iic.png" alt="Itahari International College" class="intro-image" />

    <p class="intro-description">
      Since 2017, Itahari International College has offered top-tier IT and Business programmes in partnership with London Metropolitan University, UK.
      It aims to produce globally competitive graduates, making it the first college in Itahari to provide a direct UK university degree. IIC nurtures future leaders and innovators by providing hands-on experiences, real-world projects, and a practical curriculum. Our commitment is evident in our alumni's successful careers and high placement rates.
      Itahari International College is a flagship institution of Innovate Nepal Group (ING).
    </p>
</div>
